<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="XCodeFramework.Core" />
    <assembly name="XCodeFramework.Data" />
    <assembly name="XCodeFramework.Service" />
    <assembly name="XCodeFramework.Web.Core" />
    <assembly name="XCodeFramework.Web" />
    <assembly name="Unity.Abstractions"/>
    <assembly name="Unity.Mvc" />
    <container>

      <!--repository register -->
      

      <!--infrastructure register-->
      

      <!--logging register-->
      

      <!--security register -->
      

      <!--user & role service register -->
      
      <!--service register -->
      <register type="XCodeFramework.Service.Services.Students.IStudentService" mapTo="XCodeFramework.Service.Services.Students.StudentService">
        <lifetime type="Unity.AspNet.Mvc.PerRequestLifetimeManager" />
      </register>
      

    </container>
  </unity>
</configuration>
